
body {
    margin: 0 auto;
    width: 65%;
    background-image: url("/assets/image/burger.jpg");
    text-align: center;

}

h1 {
margin-top: 10%;
color: white;
}

.btn {
    background-color: rgb(140, 157, 236);
    color: white;
}
.ready {
    float: left;
}
.tested {
    float: right;
}